<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        text-align: center;
        background-color: burlywood;
        margin: auto;
    }
</style>
<body>

<h2 style="text-align: center;">BOOK_DETAILS</h2>
<table border="2px">

    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>

    </tr>
    {%for book in qs%}

    <tr>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>
            <a href="{% url 'book-det' book.id %}">View</a>
            <a href="{% url 'book-del' book.id %}">Delete</a>
            
        </td>

    </tr>

     {%endfor%}


</table>
    
</body>
</html>